{% extends 'base.html' %}
{% block title %}
	{{ board.project_name }}
{% endblock %}
{% block header %}
<ol class="breadcrumb my-4" style="background-color: #adacac;">
    <li class="breadcrumb-item "><a href="{% url 'task_boards'%}"> Home </li></a>
    <li class="breadcrumb-item active">{{board.project_name}}</li>
</ol>
{% endblock %}

{
{% block table_task %}
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ board.project_name }}</td>
				<td>{{ task.board.task_name }}</td>
			</tr>
		</tbody>
	</table>
{% endblock table_task %}
}
